/*layout*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
footer {
  width: 100%;
  padding-bottom: 1px;
  background-color: #555050;
  background-size: cover;
}
footer .container_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
footer .container_footer .box__footer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-around;
}
footer .container_footer .box__footer h2 {
  margin-bottom: 30px;
  color: black;
  font-weight: 700;
}
footer .container_footer .box__footer a {
  text-decoration: none;
  margin-top: 10px;
  color: black;
  font-weight: 600;
}
footer .container_footer .box__footer a:hover {
  opacity: 0.8;
  color: rgba(209, 209, 209, 0.863);
}
footer .container_footer .box__footer a .fab {
  font-size: 20px;
}
footer .container_footer .box__footer .facebook {
  text-decoration: none;
}
footer .container_footer .box__footer .facebook:hover {
  color: #2956a3;
}
footer .container_footer .box__footer .tiktok {
  text-decoration: none;
}
footer .container_footer .box__footer .tiktok:hover {
  color: #0076b8;
}
footer .container_footer .box__footer .Instagram {
  text-decoration: none;
}
footer .container_footer .box__footer .Instagram:hover {
  color: #ce1312;
}
footer .box__copyright {
  max-width: 1200px;
  text-align: center;
  margin: auto;
}
footer .box__copyright p {
  margin-top: -11px;
  color: black;
}
footer .box__copyright hr {
  border: none;
  height: 1px;
  background-color: black;
}
footer .box__copyright b {
  color: rgb(31, 29, 29);
}
footer .box__copyright b:hover {
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}
body header {
  background-color: #555050;
  padding: 3rem;
}
body header header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
}
body header header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
body header .logovww {
  width: 3rem;
  height: 3rem;
  margin-left: 2rem;
}
body header ul li {
  list-style-type: none;
  color: #0D0D0D;
  font-size: 1.5rem;
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0.5rem 1rem;
  text-align: center;
}
body header ul li ul li a {
  color: #0D0D0D;
}

h1 {
  color: #0D0D0D;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

p {
  color: #0D0D0D;
  font-size: 1.2rem;
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: justify;
}

a {
  list-style-type: none;
  color: #0D0D0D;
  font-size: 1.5rem;
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

svg {
  height: 2rem;
  width: 2.5rem;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
}

.nosotros {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.nosotros img img {
  width: 70%;
}

.img-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 1.5rem;
}

.text-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 1.5rem;
  order: -1;
}

input {
  display: block;
  margin-bottom: 0.5rem;
}

select {
  display: block;
  margin-bottom: 0.5rem;
}

textarea {
  height: 6rem;
}

.btn-submit {
  height: 2rem;
  width: 4rem;
  border-radius: 3%;
  background-color: #0D0D0D;
}

#sobrenosotros {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#sobrenosotros .mapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 1.5rem;
}
#sobrenosotros .mapa .mapa {
  width: 80%;
}
#sobrenosotros .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  order: -1;
}

.text {
  padding: 1.5rem;
}

@media only screen and (min-width: 375px) and (max-width: 667px) {
  .text-mobile {
    width: 100%;
  }
  .img-mobile {
    width: 100%;
  }
  .nosotros-mobile {
    flex-direction: column;
  }
  .nav-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
  }
  .nav-ul-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
  .footer-mobile {
    background-color: #555050;
    padding: 15%;
    width: 100%;
  }
  .informacion-contacto {
    width: 100%;
    padding: 1rem;
  }
  .imagenes-carrusel {
    width: 100%;
  }
}
.neumaticos1 {
  width: 30%;
  height: 50%;
}

.subtituloh2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
}

.subtituloh3 {
  flex-direction: column;
  width: 100%;
  padding: 1.5rem;
}

.aceite1 {
  width: 30%;
  height: 50%;
}

.mantenimientos1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 50%;
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -400px;
}
svg #Polygon-1,
svg #Polygon-2,
svg #Polygon-3,
svg #Polygon-4,
svg #Polygon-4,
svg #Polygon-5 {
  animation: float 1s infinite ease-in-out alternate;
}
svg #Polygon-2 {
  animation-delay: 0.2s;
}
svg #Polygon-3 {
  animation-delay: 0.4s;
}
svg #Polygon-4 {
  animation-delay: 0.6s;
}
svg #Polygon-5 {
  animation-delay: 0.8s;
}

.message-box {
  height: 200px;
  width: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: 50px;
  color: #fff;
  font-family: Roboto;
  font-weight: 300;
}
.message-box h1 {
  font-size: 60px;
  line-height: 46px;
  margin-bottom: 40px;
  color: rgba(34, 153, 84, 0.7333333333);
}

.buttons-con .action-link-wrap {
  margin-top: 40px;
}
.buttons-con .action-link-wrap a {
  background: rgba(34, 153, 84, 0.7333333333);
  padding: 8px 25px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s linear;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
}
.buttons-con .action-link-wrap a:hover {
  background: #031301;
  color: #fff;
}

@media (max-width: 450px) {
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -190px;
  }
  .message-box {
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -190px;
    text-align: center;
  }
}
.trabajos {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  justify-content: space-around;
  color: rgb(7, 7, 6);
}
.trabajos .columna_trabajo {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.trabajos .columna_trabajo h4 {
  color: rgb(0, 0, 0);
}

/* Aca empieza trabajos html mobile */
.trabajos {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  justify-content: space-around;
  color: rgb(0, 0, 0);
}

/* Aca termina trabajos html mobile */
@media only screen and (max-width: 767px) {
  .nav-mobile {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-mobile .nav-ul-mobile {
    flex-direction: column;
    align-items: flex-start;
  }
  .trabajos {
    grid-template-columns: 1fr;
  }
  .nosotros, .img-nosotros, .text-nosotros {
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .trabajos {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 450px) {
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -190px;
  }
  .message-box {
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -190px;
    text-align: center;
  }
}
/* Aca empieza contactos html */
h1 {
  color: white;
}

.display-4 {
  color: black;
}

.jumbotron {
  background-color: rgba(37, 48, 42, 0.7333333333);
}/*# sourceMappingURL=styles.css.map */